

   /* موبايل */
@media only screen and (max-width: 768px) {
  /* Header */

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .icon input {
    width: 90%;
    margin-right: 0;
  }

  .icon i {
    display: none;
  }

  /* Hero Section */
  .top img{
    width: 90vw;
  }
  .img img{
 display: none;
  }
 

.sale{
 width: 440px;
}
.shop{
   position: absolute;
   right: 12px;
}

 .img2 img{
 display: none;
 }
  /* About Section */
.title img{
     font-size: 20px;
  }
  .about h5{
    font-size: 40px;
  }
  .pra {
    flex-direction: column;
    text-align: center;
  }

  .pra img {
    width: 90%;
    height: auto;
  }

  .pra p {
    font-size: 20px;
    margin: 20px;
  }

  .reasons {
    flex-direction: column;
    align-items: center;
  }

  .reason img {
    width: 70%;
    height: auto;
  }

  .reason p {
    position: static;
    width: 70%;
    margin: 10px auto;
  }

  /* Collection Page */
  .set p {
    font-size: 30px;
    padding: 10px;
  }

  .collections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection {
    width: 90%;
    margin: 20px 0;
    text-align: center;
  }

  .collection img {
    width: 80%;
    height: auto;
  }

  .collection p {
    font-size: 20px;
    margin: 10px 0;
  }

  .collection a button {
    width: 100px;
    font-size: 9px;
  }

  /* Style Page */
  .styles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .style {
    flex-direction: column !important;
    text-align: center;
    margin-bottom: 20px;
  }

  .style img {
    width: 90%;
    height: auto;
  }

  .style p {
    width: 90%;
    font-size: 20px;
    margin: 10px auto;
  }

  .stylesh h2 {
    font-size: 24px;
    padding: 20px;
  }
}


/*  تابلت */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .icon input {
    width: 90%;
    margin-right: 0;
  }

  .icon i {
    display: none;
  }

  /* Hero Section */
  .top img{
    width: 90vw;
  }
  .img img{
 display: none;
  }
 

.sale{
 width: 440px;
}
.shop{
   position: absolute;
   right: 12px;
}

 .img2 img{
 display: none;
 }
  /* About Section */
.title img{
     font-size: 20px;
  }
  .about h5{
    font-size: 40px;
  }
  .pra {
    flex-direction: column;
    text-align: center;
  }

  .pra img {
    width: 90%;
    height: auto;
  }

  .pra p {
    font-size: 20px;
    margin: 20px;
  }

  .reasons {
    flex-direction: column;
    align-items: center;
  }

  .reason img {
    width: 70%;
    height: auto;
  }

  .reason p {
    position: static;
    width: 70%;
    margin: 10px auto;
  }
  /* collection */
  .set p{
    color: white;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
  }
    .collection p{
      color: rgb(223, 43, 43);
     text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

   .collections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection {
    width: 90%;
    margin: 20px 0;
    text-align: center;
  }

 .collection img {
    width: 50%;
    height: auto;
  }

  .collection p {
    font-size: 20px;
    margin: 10px 0;
  }

  .collection a button {
    width: 200px;
    font-size: 9px;
  }
  /* style */
  .style {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto auto 40px;
  }

  .style:nth-child(even) {
    flex-direction: row-reverse;
  }

  .style img {
    width: 50%;
    height: auto;
    margin: 0 10px;
  }

  .style p {
    width: 40%;
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
  }

  .stylesh h2 {
    font-size: 40px;
  }
}

/* لابتوب */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .icon input {
    width: 90%;
    margin-right: 0;
  }

  .icon i {
    display: none;
  }

  /* Hero Section */
  .top img{
    width: 90vw;
  }
  .img img{
 display: none;
  }
 

.sale{
 width: 440px;
}
.shop{
   position: absolute;
  left: 400px;
}

 .img2 img{
  position: absolute;
  right: 300px;
 }
  /* About Section */
.title img{
     font-size: 20px;
  }
  .about h5{
    font-size: 40px;
  }
  .pra {
    flex-direction: column;
    text-align: center;
  }

  .pra img {
    width: 90%;
    height: auto;
  }

  .pra p {
    font-size: 20px;
    margin: 20px;
  }

  .reasons {
    flex-direction: column;
    align-items: center;
  }

  .reason img {
    width: 70%;
    height: auto;
  }

  .reason p {
    position: static;
    width: 70%;
    margin: 10px auto;
  }
  /* collection */
  .set p{
    color: white;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
  }
    .collection p{
      color: rgb(223, 43, 43);
     text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

   .collections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection {
    width: 90%;
    margin: 20px 0;
    text-align: center;
  }

 .collection img {
    width: 50%;
    height: auto;
  }

  .collection p {
    font-size: 20px;
    margin: 10px 0;
  }

  .collection a button {
    width: 200px;
    font-size: 9px;
  }
  /* style */
  .style {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto auto 40px;
  }

  .style:nth-child(even) {
    flex-direction: row-reverse;
  }

  .style img {
    width: 50%;
    height: auto;
    margin: 0 10px;
  }

  .style p {
    width: 40%;
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
  }

  .stylesh h2 {
    font-size: 40px;
  }
}
