*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body:not(footer){
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 margin: 13px 13px 0px;
}
header:not(.logo){
    background-color: rgb(255, 255, 255);
     height: 100px;
     border-radius: 100px 100px 50px 100px;
    
}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50px;

}
.logo img{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-top: 5px;
    margin-left: 3px;
    outline: solid 10px black;
    
}
 nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 60px
    
}
nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
   
}
nav li{
    position: relative;
    padding-bottom:3px;
}
nav li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(214, 32, 32);
    transition: width 0.3s ease;
}
nav li:hover::after{
   width: 100%;
}
/* icon */
.icons{
   display: flex;
   gap: 12px;
   align-items: center;
}
.icons .fa-cart-shopping{
    color: rgb(53, 52, 52);
    background-color: rgba(224, 224, 224, 0.644);
   width: 30px;
   height: 30px;
   padding: 6px;
   border-radius: 5px;
}
 .fa-cart-shopping:hover{
     transform: rotate(20deg);
}
.icon input{
    position: relative;
   outline: none;
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    background-color: rgba(224, 224, 224, 0.644);
    
}
.icon i{
    position: absolute;
    right:230px;
    top:55px;
    font-size: 15px;
     color: rgb(167, 167, 167);
}
.icon i:hover {
 transform: skew(20deg);
}
/* heor */
.hero{
     margin: 20px;
   
}
.top img{
    position: relative;
    border-radius: 10px 100px 10px 200px;
    width: 55vw;
    height: 60vh;

}
.top p{
    position: absolute;
     top: 200px;
     left: 60px;
    color: rgb(0, 0, 0);
    top: 200px;
   align-items: center;
   font-size: 60px;
   text-transform:capitalize;
   font-weight: 900;
   text-shadow: 9px 2px 2px rgba(0, 0, 0, 0.418);
}
/* image1 */
.img img{
   position: absolute;
   left: 59%;
   top: 14%;
  border-radius: 100px 70px 30px 100px;
   width: 40vw;
  height: 84vh;
   
}
/* arrow */
.arrow i{
 position: absolute;
  bottom: 27%;
 color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
 width: 90px;
 height: 80px;
 padding: 25px;
 font-size: 20px;
 border-radius: 30px 20px 10px 40px;
 transform: skew(45deg);
 outline: solid 8px black;
 margin-left: 20px;
}
.arrow i:hover{
    background-color: rgb(206, 21, 30);
    color: white;
}
/* sale */
.sale{
    background-color: rgb(206, 21, 30);
    width: 800px;
    height: 210px;
    margin-left: 5px;
    margin-top: 20px;
   border-radius: 20px 10px 10px 50px;
}
.sale  .text{
   padding: 20px;
   padding-left: 40px;
   color: rgb(255, 255, 255);
   font-size: 20px;
}
.text p{
    color: rgb(224, 224, 224);
    font-size: 20px;
}
.text  h2{
   padding-bottom:  12px;
   font-size: 30px;

}
.text h3{
     padding-top: 40px;
   font-size: 30px;
}
/* shop */
 .shop{
    display: flex;
    position: absolute;
    right: 56%;
    bottom: 1%;
     background-color: white;
     width: 250px;
     height: 170px;
     border-radius: 40px 10px 20px 20px;  
     cursor: pointer;
      outline: solid 4px black;
      color: black;
}
.shop:hover{
    background-color: rgb(206, 21, 30);
    color: white;
    
}
.shop  .heading{
   padding: 50px;

}
.heading a{
    text-decoration: none;
}
.heading  h4 {
   font-size: 10px;
   padding-bottom: 10px;
  
}
.heading p {
    font-weight: 900;
}
.shop i{
    padding:60px 0px 60px 20px;
  
}
/* image2 */
.img2 img{
    position: absolute;
    right: 36%;
    bottom: 1%;
  width: 370px;
  height: 220px;
   border-radius: 20px; 
   outline: solid 6px black;

}
.price{
    position: absolute;
    right: 38%;
  bottom: 20%;
    background-color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 90px;
 outline: solid 6px black;
}

.price h4{
    position: relative;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 900;
}
/* about */
.title{
    display: flex;
      padding-top: 100px;
      justify-content: center;
      align-items: center;
}
.title h4{
    color: white;
    text-align: center;
    font-size: 70px;
    text-transform: capitalize;
}
.title img{
    text-align: center;
    width: 200px;
    height: 100px;
    padding-left: 20px;
}
.about h5{
    color: white;
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}
.pra {
    display: flex;
    align-items: center;
}
.pra p{
     color: white;
    text-align: center;
    font-size: 30px;
    margin: 90px 90px;
    text-align: end;
    text-transform: capitalize;
}
.pra img{
   width: 500px;
   height: 500px;
   margin: 90px;
}
.pra span{
    color: rgb(223, 43, 43);
}
.why h4{
    color: white;
    text-align: center;
    font-size: 50px;
}
 .reasons{
    display: flex;
    padding-bottom: 90px;
}
.reason{
    position: relative;
}
.reason img{
    width: 300px;
    height: 300px;
    margin: 90px 80px 0px;
}
.reason p{
    position: absolute;
    left: 20%;
    background-color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    outline: solid 13px black;
    cursor:default;
}
.reason p:hover{
      background-color: rgb(223, 43, 43);
      color: rgb(255, 255, 255);
}
footer{
 background-color: white;
  margin-top: 100px;
  
}
footer p{
  text-align: center;
  padding: 20px 0px 0px;
}
footer p a{
    text-decoration: none;
    color: rgb(223, 43, 43);
}
footer ul{
    list-style: none;
    padding: 0px 20px 20px;
}
footer ul li {
    padding-top: 12px;
}
footer ul li a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}
  /* collection */
  .set {
   padding-top: 30px;
  }
  .set p{
    color: white;
    text-align: center;
    font-size: 80px;
    text-transform: capitalize;
  }
  .collection{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .collection p{
      color: rgb(223, 43, 43);
     text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 .collection a button{
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: azure;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
 }
 .collection a button:hover{
     background-color: rgb(223, 43, 43);
     color: white;
 }

/* style */
.stylesh h2{
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
}
.style{
    display: flex;
    align-items: center;
}
.style:nth-child(even) {
  flex-direction: row-reverse;
}
.style img{
    margin: 20px;
    width: 600px;
    height: 700px;
     object-fit: cover;
}
.style p{
     color: white;
    text-align: center;
    font-size: 40px;
     width: 40%;

      background: linear-gradient(to right, #00ffd5, #ff00cc);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

 /* scrool */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }